@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #252525;

  --card: #ffffff;
  --card-foreground: #252525;

  --popover: #ffffff;
  --popover-foreground: #252525;

  --primary: #252525;
  --primary-foreground: #fafafa;

  --secondary: #f8f8f8;
  --secondary-foreground: #252525;

  --muted: #f8f8f8;
  --muted-foreground: #8e8e8e;

  --accent: #f8f8f8;
  --accent-foreground: #252525;

  --destructive: #b22222;
  --destructive-foreground: #fafafa;

  --border: #eaeaea;
  --input: #eaeaea;
  --ring: #b5b5b5;

  --chart-1: #ff7f50;
  --chart-2: #6495ed;
  --chart-3: #9370db;
  --chart-4: #3cb371;
  --chart-5: #ffd700;

  --radius: 0.625rem;

  --sidebar: #fafafa;
  --sidebar-foreground: #252525;
  --sidebar-primary: #252525;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f8f8f8;
  --sidebar-accent-foreground: #252525;
  --sidebar-border: #eaeaea;
  --sidebar-ring: #b5b5b5;
}

.dark {
  --background: #252525;
  --foreground: #fafafa;

  --card: #252525;
  --card-foreground: #fafafa;

  --popover: #252525;
  --popover-foreground: #fafafa;

  --primary: #fafafa;
  --primary-foreground: #252525;

  --secondary: #434343;
  --secondary-foreground: #fafafa;

  --muted: #434343;
  --muted-foreground: #a1a1a1;

  --accent: #434343;
  --accent-foreground: #fafafa;

  --destructive: #8b0000;
  --destructive-foreground: #ffffff;

  --border: #434343;
  --input: #434343;
  --ring: #6a6a6a;

  --chart-1: #4169e1;
  --chart-2: #00ced1;
  --chart-3: #ff6347;
  --chart-4: #9370db;
  --chart-5: #ffd700;

  --sidebar: #252525;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #4169e1;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #434343;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #434343;
  --sidebar-ring: #6a6a6a;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
